body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  
}

button {
  background-color: #282c34;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border: none;
  transition: background-color 0.3s ease;
  margin-right: 2px;
}

button:hover {
  background-color: #777;
  color: white;
}
